body {
    margin: 0;
    padding: 0;
}
.container {
    background-color: whitesmoke;
    margin: 10% auto;
}
.navbar {
    color: #ffffff;
    margin-bottom: 10%;
}
.navbar a {
    color: darkolivegreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

.btn a{
    color: #FFFFFF;
}
.left-column {
    margin: 1% auto;
}
.right-column {
    margin: 2% auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.sign-up-btn {
    margin-left: 40%;
}
.landingPageOL {
    margin-top:10%;
}

.bottom-row {
    margin: auto;
    text-align: center;
}
footer {
    margin: 0 auto; 
    text-align: center;
}
footer li {
    padding: 2%;
    list-style-type: none;
    display: inline;
}
footer li a {
    color: darkolivegreen;
}



